# Ignore root directory except for a few custom files
/*
!.gitignore
!wp-config-sample.php
!.htaccess
!robots.txt
!*.sh

# Ignore everything in wp-content except themes and plugins
/wp-content/*
!/wp-content/themes/
!/wp-content/plugins/

# Just save hello-elementor and mautic-theme
/wp-content/themes/*
!/wp-content/themes/hello-elementor/
!/wp-content/themes/mautic-theme/

# Not sure if we want to backup plugins, we can uncomment if so
#/wp-content/plugins/*

# Uploads should be handled with snapshots or other archived backups to avoid a bloated repo
/wp-content/uploads/
!wp-content/uploads/.gitkeep  # Empty marker for structure

# Caching, backup, and upgrade files
/wp-content/cache/
!/wp-content/cache/.gitkeep  # empty marker to maintian structure
/wp-content/backup-db/
/wp-content/upgrade/

# Ignore system files
.DS_Store
Thumbs.db
*.log
*.sql
*.sqlite

# Composer files
vendor/
node_modules/

# Sensitive files (see wp-config-sample.php)
wp-config.php

# Ignore WordPress core files
/wp-admin/
wp-includes/

